
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /*color for body and accents*/
    
    --clr-backgroundmain: #D33821;
    --clr-backgroundsecond: #f58f86;
    --clr-backgroundthird: #fba7af;
    --clr-backgroundfourth: #fcb3ac;

    /*color for the project and archieve section to have various opacity*/

    --clr-light: #ffe2e9;
    --clr-light-medium: #ffb7b7;
    --clr-medium: #ff8f8f;
    --clr-medium-dark: #e53939;
    --clr-dark: #db1515;

    --clr-green: #c1bb41;
    --clr-accent: #f1edd7;

    --fw-cinzel-reg: 400;
    --fw-cinzel-thick: 600;
    --fw-cinzel-bold: 800;
    --fw-railway-reg: 400;
    --fw-railway-bold: 600;

    --fs-h1: 3em;
    --fs-h2: 2.25em;
    --fs-body: 3em;

    --ff-primary: 'cinzel', sans-serif;
    --ff-secondary: 'raleway', monospace;
    --ff-third: 'montserrat', monospace;
    --ff-fourth: 'homemade apple', 'cursive' ;

    /*box shadow */

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Navigation bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--clr-medium);
    font-family: var(--ff-primary);
    font-weight:var(--fw-cinzel-reg);
    background-color: #ffb7b7;
    background-image:  radial-gradient(#f1edd7 0.2px, transparent 0.2px), radial-gradient(#f1edd7 0.2px, #ffb7b7 0.2px);
    background-size: 8px 8px;
    background-position: 0 0,4px 4px;
    
}

.menu {
    color:var(--clr-dark);
    text-transform: uppercase;
    letter-spacing: 4px ;
    font-size:var(--fs-h2);
    font-family:var(--ff-fourth);
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    text-decoration: none;
    color: var(--clr-dark);
}

.nav-links a {
    color:var(--clr-dark);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: var(--fw-cinzel-thick);
}

.nav-links li {
    list-style-image: url("https://img.icons8.com/color-glass/24/000000/strawberry.png");

}

.hamburger {
    display: block;
    position: relative; 
    z-index: 9999;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 2.20rem;
    height: 0.22rem;
    margin-bottom: 5px; 
    position: relative;
    z-index: 1000;

    background-color: var(--clr-dark);
    border-radius: 6px;
    z-index: 1000;

    transform-origin: 0.0;

    transition: 0.4s;


}

.hamburger:hover span {
    background: rgb(193,187,65);
    background: linear-gradient(90deg, rgba(193,187,65,1) 0%, rgba(255,143,143,1) 50%, rgba(255,183,183,1) 77%, rgba(255,226,233,1) 100%);
}



@media (min-width: 768px) {
    .hamburger {
        display:none;
    }
} 

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        
        overflow-x: hidden; 
        
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffb7b7;
        background-image: radial-gradient(#f1edd7 0.2px, transparent 0.2px), radial-gradient(#f1edd7 0.2px, #ffb7b7 0.2px);
        background-size: 8px 8px;
        background-position: 0 0,4px 4px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 1s ease-out;
        z-index: 9999;
    }

    .nav-links li {
        opacity: 1; 
        position:relative;
    }
    .hamburger {
        display: block;
    }

    .intro{
        display:flex;
    }
}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*About me Section */

#more {
    display:none;
}

    

body {
    Background: linear-gradient(90deg, rgba(254,220,220,1) 0%, rgba(255,244,244,1) 50%, rgba(241,241,241,1) 77%, rgba(241,205,205,1) 100%);
    margin: 0;
    line-height: 1.6;
}

/* Typography */


img {
    display: block;
    max-width:100%;
    

}

section {
    padding: 1em 2em;
}

/* Typography */

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    border:none;
    border-radius: 90%;
    padding: .5em 2.5em;
    background:var(--clr-light);
    color:var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


h1,
h2,
h3 {
    line-height: 1;  /*If it breaks into two lines, adjust to make it smaller */
    margin: 0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25em;
    font-family:var(--ff-primary);
    text-align: center;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle {
    margin:0;
    font-size: var(--fs-h3);
    text-align: center;
    
}

.section__subtitle--intro,
.section__subtitle--about {
    background:#ffb7b7;
    background-image: radial-gradient(#f1edd7 0.2px, transparent 0.2px), radial-gradient(#f1edd7 0.2px, #ffb7b7 0.2px);
    background-size: 8px 8px;
    background-position: 0 0,4px 4px;
    padding: .25em 1em;
    font-family: var(--ff-third);
    font-weight: var(--fw-railway-reg);
}
.intro__img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width:300px;
    min-width: none;

}
.section__title strong {
    font-weight: var(--fw-cinzel-thick);
}



.section__intro {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-block: 2rem;
    width: min(50% 50rem);
    margin-inline: auto;
    align-items: center;
}



.hello {
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-cinzel-reg);
}

/*Skills Section*/

.container {
    height: 100vh;
}

.container img{
    /*
    width:100%; */
    position: absolute;
    height: 100vh;
    object-fit:cover;
    z-index:-10;
}
.bg1 {
    width:100%;
}
.girlbird {
    height: auto;
    width:50%;
    left:50%;
}
.rockbook {
    max-width:100%;
    left:10%;
    
}


.main-title {
    position: absolute;
    top:125%;
    left:50%;
    font-size: 6rem;
    transform: translate(-50%, -50%);
    color:var(--clr-dark);
    font-family: var(--ff-primary);
    font-weight: var(--fw-cinzel-thick);
}
/*Skills section that goes ontop of picture*/

.trial,
.trial2 {
    position:absolute;
    left:25%;
}
.trial,
.framework {
    top:135%;
    font-family:var(--ff-third);
    color:black;
    font-weight: var(--fw-cinzel-thick);
    font-size:var(--fs-h3);
}
.trial2,
.framework__list {
    top:140%;
    list-style: none;
    align-items: center;
    font-family: var(--ff-third);
}
.java {
    list-style-image: url("https://img.icons8.com/ios-filled/25/000000/javascript.png");
}
.html {
    list-style-image: url("https://img.icons8.com/ios-filled/25/000000/html-5--v1.png");
}
.css {
    list-style-image: url("https://img.icons8.com/ios-filled/26/000000/css3.png");
}


.framework,
.framework__list {
    position: absolute;
    left:55%;
}

.Bootstrap {
    list-style-image: url("https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/000000/external-bootstrap-a-free-and-open-source-css-framework-logo-bold-tal-revivo.png");
}

.react {
    list-style-image: url("https://img.icons8.com/ios-glyphs/30/000000/react.png");
}



.content {
    width: 100%;
    background:linear-gradient(90deg, rgba(254,220,220,1) 0%, rgba(255,244,244,1) 50%, rgba(241,241,241,1) 77%, rgba(241,205,205,1) 100%);
    min-height:100vh;
    z-index:10;
    position: absolute;
}
.content-images {
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height:60vh;
    text-align:center;
}

.text {
    padding: 2rem 20rem;
    font-size: 1.1rem;
}

/*card placeholder for projects */

.trial__container {
    display:flex;
    justify-content: center;
}

.card {
    background:white;
    width:100%;
    height: auto;
    margin: .70rem;
    border-radius: 2% 2% 2% 2%;
}
.card-image {
    height:auto;
    z-index: 1000;
}

.pic2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.card a {
    color: var(--clr-dark);
    font-family: var(--ff-third);
    cursor: pointer;
   
}
.card:hover {
    background: rgba(62,62,62,0.25);
    color: var(--clr-dark);
    cursor: pointer;
    transform: scale(1,1.05);
    transition: all 1s ease;

}

.project {
    font-family:var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-cinzel-thick);
    color:var(--clr-dark);
    text-align: center;
    margin-top: .5rem;
}

/*footer*/

.project1{
    font-family:var(--ff-primary);
    color:red;
    font-size:2rem;
    font-weight: var(--fw-cinzel-thick);

}

.footer {
    background: linear-gradient(90deg, rgba(254,220,220,1) 0%, rgba(255,244,244,1) 50%, rgba(241,241,241,1) 77%, rgba(241,205,205,1) 100%);
    color: var(--clr-dark);
    text-align:center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
   }
   
   .footer a {
       color: inherit;
       text-decoration: none;
   }
   
   .footer__link {
       font-weight: var(--fw-bold);
       justify-content: center;
   }
   
   .footer__link:hover,
   .social-list__link:hover {
       opacity: .7;
   }
   
   .footer__link:hover {
       text-decoration: underline;
   }
   
   .social-list {
       list-style: none;
       display: flex;
       justify-content: center;
       margin: 2em 0 0;
       padding: 0;
   
   }
   
   .social-list__item {
       margin: 0 0.5em;
   }
   
   .social-list__link {
       padding: .5em;
   }

