*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties to update and interchange for my own design */

:root {
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Raleway', sans-serif;

    --fw-reg: 400;
    --fw-bold: 800;

    --clr-light: linear-gradient(90deg, rgba(195,184,213,1) 35%, rgba(218,211,224,1) 100%);
    --clr-dark: black;
    --clr-accent: white;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --transition-delay: 1s;
    --rotation-to: 180deg;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/* General styles */

html {
    scroll-behavior: smooth;
}


body { 
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: var(--transition-delay);
}

/* body dark mode*/

body.dark {
    --clr-light: black;
    --clr-dark:  white;
    --clr-accent: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,37,93,1) 35%, rgba(102,71,128,1) 100%);
    

}


/*Swapper/button */
.swapper {
    background: transparent;
    color: var(--clr-dark);
    cursor: pointer;
    border: 0;
    transition: var(--transition-delay);
    transform: scale(1);
    transition: transform 250ms ease-in-out;
}

.swapper:hover,
.swapper:focus {
    transform: scale(1.3);
}


/*Sun and Moon Icon in bar */

.sun__moon {
    
    position: absolute;
    left: 24em; 
    pointer-events: none;
    transform: rotate(calc(0 * 1deg));
    transition: transform var(1s);

}

.dark .sun__moon {
    rotate: 180deg; 
}
.sun,
.moon {
    position:absolute;
    transition: opacity var(--transition-delay);
    width:30px;
    height:30px;
}

.sun {
    bottom: 20%;
    opacity: 1;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size:24px;
    

}

.moon {
    top: 20%;
    opacity: 0;
    transform: rotate(180deg);
    padding-top: 2em;
    padding-bottom: 2em;

}

.dark .moon{
    opacity: 1;
}

.dark .sun {
    opacity: 0;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

/* Typography */

strong {font-weight: var(--fw-bold)}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background:var(--clr-accent);
    color:var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.btn2 {
    display: inline-block;
    padding: .5em 2.5em;
    background:var(--clr-accent);
    color:var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    
}

.btn2:hover {
    transform: scale(1.1);
}


h1,
h2,
h3 {
    line-height: 1;  /*If it breaks into two lines, adjust to make it smaller */
    margin: 0;
}

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display:block ;
}

.section__subtitle {
    margin:0;
    font-size: var(--fs-h3);
}

/* adds an accent bar to these sections */

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 55px;
}

.nav {
    position: fixed;
    background: var(--clr-light);
    color: var(--clr-dark);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
    
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color:var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg)
    translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}
/*Hambuger */

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;

}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Intro section */

.intro {
    position:relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;   
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;

    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);

    }
}

/* My service section */

.my-services {
    background-color: grey;
    background-image: url(../Coding\ Programs/images/myworkss.jpg.png);
    /*background-image: url(../Coding\ Programs/images/mywork.jpg); */
    background-size: cover; /*so image doesn't repeat */
    background-blend-mode: multiply;
    color: var(--clr-accent);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 5;
}

.services {
    margin-bottom: 4em;
}



@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
        /* space between the wording in the paragraphs, allows a seperation*/
    .service + .service {
        margin-left: 2em;

    }    
}

.section__icon {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0;
    padding-top: .5em;
    font-size: 60px;
    margin-bottom: 10px;
    
}

.font {
    font-size: 15px;
}


/*About me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;   
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My work */

.my-work {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5,0,.5,1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .70;
}

/* Footer */

.footer {
 background: var(--clr-light);
 color: var(--clr-accent);
 text-align:center;
 padding: 2.5em 0;
 font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;

}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: .5em;
}

.portfolio-item-individual {
    padding: 0 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual .p {
    max-width: 600px ;
    margin-left: auto;
    margin-right: auto;
}